* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding:0;
  width: 100%;
  height: 100%;
  background: #FFFFFB;
  color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.block{
  position: relative;
  width:580px;
  height: 460px;
  margin:10px;
  border-radius: 8px;
  border:1px solid grey;
}

h1{
  position: absolute;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 64px;
}

.block-1{
  background: #8A8CB4;
}

.block-2{
  background:#5B5F97;
}

.block-3{
  background: #AD906E;
}

.block-4{
  background: #FFC145;
}

.block-5{
  background: #FFE0A0;
}

.block-6{
  background: #FF6B6C;
}

.block-7{
  background: #FF7879;
}

.container{
  margin-top: 30px;
  margin-left: 20px;
}

.block-1 h1,
.block-3 h1,
.block-5 h1,
.block-7 h1 {
  bottom: 0;
  right:-60px;
}

.block-2 h1,
.block-4 h1,
.block-6 h1{
  right:-60px
}