* {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background: #000;
}

.container {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.container span {
  text-transform: uppercase;
  display: block;
}

.text1 {
  color: #fff;
  font-weight: 700;
  font-size: 60px;
  letter-spacing: 8px;
  margin-bottom: 20px;
  white-space: nowrap;
  word-wrap: none;
  background: #000;
  position: relative;
  animation: text 3s 1;
}

.text2 {
  font-size: 30px;
  color: #6ab04c;
}

@keyframes text {
  0% {
    color: #000;
    margin-bottom: -40px;
  }
  30% {
    letter-spacing: 25px;
    margin-bottom: -40px;
  }

  85% {
    letter-spacing: 8px;
    margin-bottom: -40px;
  }
}
