body{
    background:#eee;
}
.wrapper{
    width:100%;
    max-width: 1400px;
}
.flex-container{
    display: flex;
    background:white;
}
.box{
    height: 100px;
    width:320px;
}
.one{
    background:red;
    /* flex-grow: 1; */
    flex-shrink: 1;
}
.two{
    background:green;
    /* flex-grow: 2; */
    flex-shrink: 2;
}
.three{
    background:blue;
    /* flex-grow: 3; */
    flex-shrink: 3;
}