nav li{
    list-style-type: none;
    margin:0 10px;
    float: right;
    color: #fff;
}
nav{
    background:#333;
    position: fixed;
    top:0;
    left:0;
    width:100%;  
}
nav ul::after{
    content:"";
    display: block;
    clear: both;
}
p{
    height:50vh;
}