.content{
    position:relative;
    left:50px;
    /* right:-50px; */
    /* bottom: -50px; */
    top:50px;
    background:greenyellow;
    padding:10px;
}

.service{
    display: inline-block;
    margin:100px;
    background: coral;
    padding:10px;
    position: relative;
}
.service:nth-child(1){
    top:10px;
}
.service:nth-child(2){
    top:25px;
}
.service:nth-child(3){
    top:100px;
}