body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5e5e5;
}

.middle {
  position: relative;
  width: 50%;
  max-width: 500px;
  height: 100px;
}

.slider {
  position: relative;
  z-index: 1;
  height: 10px;
  background-color: orange;
  margin: 0 15px;
  border-radius: 5px;
}

.slider > .track {
  position: absolute;
  inset: 0;
  z-index: 1;
  border-radius: 5px;
  background-color: skyblue;
}

.slider > .range {
  position: absolute;
  z-index: 2;
  left: 25%;
  right: 25%;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background-color: blue;
}

.slider > .thumb {
  position: absolute;
  z-index: 3;
  width: 30px;
  height: 30px;
  background-color: #6200ee;
  border-radius: 50%;
  opacity: 0.3;
}

.slider > .thumb.left {
  left: 25%;
  transform: translate(-15px, -10px);
}

.slider > .thumb.right {
  right: 25%;
  transform: translate(15px, -10px);
}

input[type="range"] {
  position: absolute;
  pointer-events: none;
  -webkit-appearance: none;
  z-index: 2;
  height: 10px;
  width: 100%;
  opacity: 0;
}

input[type="range"]::-webkit-slider-thumb {
  pointer-events: all;
  width: 30px;
  height: 30px;
  border-radius: 0;
  border: 0 none;
  background-color: red;
  -webkit-appearance: none;
}
