* {
  margin: 0;
  padding: 0;
  text-align: center;
}

.parent {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  min-height: 100vh;
  width: 100%;
}

.span-12 {
  grid-column: 1/13;
  background-color: aqua;
}

.span-6 {
  background-color: orange;
  grid-column: 1/7;
}

.span-4 {
  background: rosybrown;
  grid-column: 3/6;
}

.span-2 {
  background-color: royalblue;
  grid-column: 2/4;
}
