nav li{
    list-style-type: none;
    margin:0 10px;
    float: right;
    color:#fff;
}
nav{
    background:#333;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index: 1;
}
nav ul::after{
    content:"";
    display: block;
    clear: both;
}
#banner{
    height:800px;
    width:1200px;
    overflow:hidden;
    margin:1%;
    color: #000;
    position: relative;
z-index: 2;
}
#banner h2{
    position:absolute;
    top:30px;
    left:0;
    margin:0;
    color:green;
    text-align: center;
    width:100%;
}
p{
    height:30vw;
    background:orange;
}
.wrapper{
    background:cyan;
    z-index: 0;
    position: relative;
}