* {
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  padding: 0;
}

body {
  background: #111;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonials {
  position: relative;
  max-width: 100%;
}

/* .swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 100px;
} */

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 350px;
  min-height: 350px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}


.card{
  border:1px solid  #333;
  background-color: #111;
  color: #fff;
  height: 300px;
  width:300px;
  font-size: 14px;
}