body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  background: #f5f5f5;
}

.black-div {
  width: 100%;
  background: #000;
  background-size: cover;
  padding-top: 30px;
  height: 570px;
  left: 0px;
  margin: 0;
  right: 0;
}

/* navbar section */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content-container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  font-size: 14px;
  justify-content: space-between;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  padding: 9px 12px 8px 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2857 lem;
}

.navbar li {
  vertical-align: baseline;
  white-space: nowrap;
  display: inline-block;
  margin-right: 2px;
  border: 0;
  border: 2px solid #000;
}

.navbar a:hover {
  border-bottom: 2px solid #fff;
}
.signup {
  border: 2px solid #fff;
  border-radius: 4px;
}

.signup:hover {
  background: #fff;
  color: #666;
}

/* home section */
.home-container {
  padding-top: 80px;
  text-align: center;
}

.text-centered {
  text-align: center !important;
  margin: 0 auto 48px;
  width: 160px;
  height: 80px;
}

.search-container {
  display: flex;
  flex-direction: row;
  position: relative;
  text-align: center !important;
  align-items: center;
  padding: 0 142px;
}

.search-container input {
  background: transparent none repeat scroll 0% 0%;
  border: 0;
  margin: 0;
  outline: 0;
}

.find-label {
  border-radius: 4px 0 0 4px;
  padding: 11px;
  border: 0;
  background: #fff;
  font-size: 18px;
  cursor: text;
  overflow: hidden;
  font-weight: 600;
  width: 100%;
  color: #333;
}

.near-label {
  border: 0;
  background: #fff;
  color: #333;
  font-size: 18px;
  font-weight: 600;
  width: 100%;
  padding: 11px;
}

.button-find {
  background: #d32323;
  border-radius: 0px 4px 4px 0;
  padding: 8px 16px 3px;
  font-size: 12px;
  vertical-align: middle;
  border: 0;
}

.search-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  list-style-type: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.search-option {
  margin: 10px;
}
.search-option img {
  width: 17px;
  height: 20px;
}

.search-option a {
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  font: inherit;
  font-size: 14px !important;
}

.search-option a:hover {
  text-decoration: underline;
}

.arrow {
  width: 10px !important;
  height: 10px !important;
}

.para-heading {
  color: #fff;
  font-size: 14px !important;
  font-weight: 700;
  padding-bottom: 6px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.paragraph {
  color: #fff;
  font-size: 12px !important;
  padding-bottom: 24px;
  font: inherit;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.learn-more {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  color: #fff;
  font-weight: 600;
}

/* business section */
.business-section {
  width: 100%;
  margin: 0;
  padding: 0;
  background: #f5f5f5;
}

.business-section > div {
  width: 960px;
  padding: 0 15px;
  margin: 0 auto;
  text-align: center;
}

.business-section h1 {
  color: #d32323;
  margin-bottom: 24px;
  padding-top: 32px;
  font-weight: 600;
  font-size: 21px;
  line-height: 1.28571em;
}

.business-container {
  display: flex;
  flex-direction: row;
}

.business-container > div {
  margin: 12px;
  border-radius: 4px;
}
.business-container > div:hover {
  box-shadow: 1px 4px 4px 1px rgba(0, 0, 0, 0.2);
}

.business-container img {
  width: auto;
  height: 174px;
  border-radius: 4px 4px 0 0;
  margin: 0;
  display: block;
}

.business-container a {
  margin: 0;
  height: 100%;
  padding: 0;
  color: #333;
  word-break: break-word;
  overflow-wrap: break-word;
  font-weight: 500;
  margin-bottom: 6px;
  font-size: 12px;
  line-height: 1.2851em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none;
}

.business-container h3 {
  padding: 12px 0;
  border: 1px solid #e6e6e6;
  border-radius: 0 0 4px 4px;
  margin: 0;
}

/* content container with white background */
.container {
  background: white;
  width: 100%;
  text-align: center;
}

.background-white {
  background: #fff;
  padding-top: 32px;
}

.sanfrancisco-heading {
  color: #d32323;
  font-size: 21px;
  font-weight: 700;
  margin-bottom: 6px;
  line-height: 1.2857lem;
}

.location-bar {
  width: 100%;
  text-align: center;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.location-collection {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
  padding: 0 15%;
}

.location-collection a {
  color: #666;
  text-decoration: none;
  line-height: 30px;
  white-space: nowrap;
  text-align: center;
  font-size: 13px;
}

.business-collection {
  display: flex;
  flex-direction: row;
  min-width: 960px;
}

.business-item {
  margin: 0 auto;
  padding: 0;
  max-width: 33.33333%;
}

.business-img-container {
  height: 180px;
  width: 100%;
  overflow: hidden;
}

.business-img {
  width: 100%;
  height: 100%;
}

.hot-heading {
  text-align: center;
  margin-bottom: 12px;
  color: #d32323;
  word-break: break-word;
  overflow: hidden;
  white-space: nowrap;
  font-size: 16px;
  line-height: 1.3125em;
}

.business-details {
  text-align: left !important;
  border: 1px solid #e6e6e6;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.details-head {
  display: inline;
  font-weight: 600;
  color: #0073bb;
  padding: 0;
  margin: 10px 15px 5px 15px;
  vertical-align: baseline;
  white-space: nowrap !important;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px !important;
  text-align: left !important;
}

.hot-rating {
  display: flex;
  flex-direction: row;
  margin: 3px 15px;
}

.rating-img-container {
  height: 23px;
  width: 133px;
  background-image: url("img/business/rating.png");
}

.hot-rating span {
  padding-left: 10px;
  margin: 3px 0;
}

.reviews {
  color: #666;
  font-weight: 400;
  display: block;
  font-size: 13px;
}

.category {
  vertical-align: baseline;
  white-space: nowrap;
  font-size: 14px;
  color: #333;
  margin: 3px 15px;
  width: 260px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fire-p {
  color: #f15c00;
  margin: 3px 15px;
  font-size: 14px;
  vertical-align: middle;
}

.fire-p img {
  height: 30px;
  width: 30px;
}

.fire-p span {
  margin: 0;
  margin-bottom: 10px;
}

.neighborhood {
  vertical-align: baseline;
  white-space: nowrap;
  color: #333;
  font-size: 14px;
  margin: 3px 15px;
}

.business-see-more {
  margin-top: 12px;
}

.business-see-more a {
  color: #0073bb;
  text-decoration: none;
  font-size: 14px;
}

.business-see-more a:hover {
  text-decoration: underline;
}

/* event section */
.event-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 30px;
  margin: 0;
  padding: 0;
  padding-top: 42px;
}

.event-container h3 {
  color: #d32323;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3125em;
}

.local-img-container {
  height: 180px;
  overflow: hidden;
  background: url("img/event/event-img.jpg");
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.official-img-container {
  height: 180px;
  overflow: hidden;
  background: url("img/event/event-img-2.jpg");
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.event-bottom-h {
  color: #0073bb !important;
  font-size: 16px !important;
  width: 300px;
  font-weight: 600;
  text-align: left;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

.event-details-container {
  padding: 12px 12px 0;
  border: 1px solid #e6e6e6;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.event-details {
  height: 2.57143em;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  position: relative;
  margin-bottom: 12px;
  text-align: left;
  font-size: 14px;
  line-height: 1.28571em;
  color: #333;
}

.inside-link {
  color: #0073bb;
  text-decoration: none;
}

.inside-link:hover {
  text-decoration: underline;
}

.event-subtle {
  color: #999 !important;
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: 1.28571em;
  color: #333;
  text-align: left;
}

/* review section */
.review-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 30px;
  margin: 0;
  padding: 0;
  padding-top: 42px;
}

.review-container h3 {
  color: #d32323;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3125em;
  text-align: center;
}

.review-left-div {
  width: 100%;
  float: left;
  padding: 0 3px;
  min-height: 1px;
  box-sizing: border-box;
  color: #333;
}

.reviewer-details-container {
  margin-bottom: 18px;
  font-size: 12px;
  line-height: 1.5em;
  margin-left: -12px;
  margin-right: -12px;
  border-collapse: separate;
  min-width: 100%;
  display: flex;
  flex-direction: row;
}

.user-img {
  height: 60px;
  width: 60px;
  margin: 0 15px;
}

.user-details {
  text-align: left;
}

.user-name {
  font-size: 14px;
  line-height: 1.28571em;
  font-weight: 700;
  text-decoration: none;
  color: #0073bb;
  padding: 5px;
}

.user-stats {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.user-stats b {
  vertical-align: middle;
  padding: 0 10px 10px 5px;
  color: #666;
  font-weight: 700;
  font-size: 12px;
}

.review-elite {
  color: #f15c00;
  font-weight: 700;
  text-decoration: none;
  margin-top: 3px;
}

.review-elite:hover {
  text-decoration: underline;
}

.review-right-div {
  width: 100%;
}

.review-details-container {
  min-height: 288px;
  margin-bottom: 12px;
  background: #fff;
  padding: 11px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.icons {
  width: 20px;
  height: 20px;
}

.review-for-span {
  color: #0073bb;
  font-weight: 700;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.review-for-span:hover {
  text-decoration: underline;
}

.review-today {
  text-align: left;
  background: #d0ecfb;
  padding: 4px 52px 3px 6px;
  border-radius: 4px;
  position: relative;
  margin: 0;
  border: 0;
  font-size: 14px;
  color: #333;
  display: block;
}

.review-today img {
  top: 0;
  right: 6px;
  position: absolute;
  bottom: 0;
  margin: auto;
  margin-bottom: 18px;
}

.rating-star-container {
  width: 100%;
  background: red;
}

.star-img {
  float: left;
  margin: 18px 10px;
  position: relative;
  overflow: hidden;
  width: 102px;
  height: 18px;
  background-position: 0 -366px !important;
  background: url("img/business/rating.png");
  vertical-align: middle;
  display: block;
  border: 0;
  padding: 0;
  color: #333;
}

.today-span {
  display: block;
  float: left;
  color: #666;
  font-weight: 400;
  margin: 0;
  padding: 0;
  padding-left: 5px;
  padding-top: 20px;
  border: 0;
  font-size: 14px;
}

.review-content {
  margin-bottom: 12px;
  font-size: 13px;
  color: #333;
  text-align: left;
  margin-top: 20px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.continue-reading {
  white-space: nowrap;
  color: #0073bb;
  text-decoration: none;
  vertical-align: baseline;
}

.featured-item {
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
}

.featured-item h4 {
  color: #0073bb;
  display: block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  padding: 0;
}

.featured-item img {
  height: 70px;
  width: 70px;
  margin: 5px;
  float: left;
  border-radius: 4px;
}

.featured-item > div {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.featured-item p {
  font-size: 12px;
  display: block;
  width: 100%;
  white-space: nowrap;
  margin-top: 0;
  padding-top: 0;
}

.places {
  color: rgba(0, 0, 0, 0.4);
  display: inherit;
  font-size: 14px;
  padding-top: 15px;
  white-space: nowrap;
}

.by-user {
  color: #0073bb;
  font-size: 14px;
  display: inherit;
  padding-top: 15px;
  padding-left: 3px;
  white-space: nowrap;
}

.places-by {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.see-more {
  color: #0073bb;
  font-size: 14px;
  text-decoration: none;
}

.see-more :hover {
  text-decoration: underline;
}

.recent-activity-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  padding-top: 60px;
}

.recent-activity-collection {
  margin:0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}

.activity-column {
  width: 330px;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: initial;
}

.activity-item {
  margin: 10px 20px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.activity-item > img {
  width: 100%;
}

.activity-heading {
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.activity-heading img {
  height: 40px;
  width: 40px;
  border-radius: 4px;
}

.activity-heading > div {
  padding: 0 10px;
}

.name-heading {
  color: #0073bb;
  font-size: 14px;
  text-align: left;
  margin: 0;
  padding: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.usual-text {
  font-size: 14px;
}

.reaction-slipter-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.reaction-container {
  color: #999;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
}

.reaction-container img {
  margin-right: 5px;
}

.img-reaction {
  height: 20px !important;
  width: 20px !important;
}

.img-collection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.collection-img-item {
  border: 1px solid #999;
}

.collection-img-item img {
  width: 90px;
  height: 120px;
}
